layout {
    tab name="stats" {
        pane split_direction="vertical" {
            size "45%"
            pane command="fastfetch"
            pane command="btop" {
                borderless true
            }
        }
        pane split_direction="vertical" {
            pane {
                size "70%"
                focus true
            }
            pane {
                command "curl"
                args "https://wttr.in/Boston?F&A&Q&n"
            }
        }
    }
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
}
session_name "session1"
attach_to_session true
